page-cryptoanimal {



.cryptoanimal {
    margin: auto;
    height: 300px; 
    width: 300px; 
    background: white;
    margin-top: 10px;
    display: flex;
    justify-content:center;
    align-items: center;

    // border: 2px solid #fff;
//    display: block;
    }

.desc {


    }


.title {
    // text-align: left;
    // align-content: center;
    text-emphasis: bold;
    display: flex;
    justify-content:center;
    align-items: center;
}

}
