page-charity_profile {

    .title {
        // text-align: left;
        // align-content: center;
        text-emphasis: bold;
        display: flex;
        justify-content:center;
        align-items: center;
    }

// .ion-header {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     font-weight: bold;
//     background-color:#5677fc;
// }
// .my-background  {
//     background-color:#5677fc;
// }
    
}
