page-apple {


ion-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color:#5677fc;
}
ion-content  {
    background-color:lightblue;
}
    
}
